/* Roboto font imported from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    padding: 70px 50px;
}

/* Header section */
header{
    width: 100%;
    margin-bottom: 25px;
}

.header-text{
    font-weight: bold;
    line-height: 0.9;
    margin-bottom: 65px;
}

.header-text.title{
    font-size: 44px;
    text-transform: uppercase;
    float: left;
}

.header-text.author{
    font-size: 34px;
    float: right;
}

.half{
    width: 50%;
}

.header-img-list{
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-img-list img{
    max-width: 24%;
    height: auto;
    margin: 10px 10px 0 0;
} /* End Header section */

/* Who I am section */
.who-i-am-ctn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 150px;

}

.who-i-am-title{
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 70px;
}

.who-i-am-img-ctn{
    width: 43%;
}

.who-i-am-img-ctn img{
    width: 100%;
    height: auto;
}

.who-i-am-text-ctn{
    margin-left: 60px;
    width: 45%;
    line-height: 1.4;
} 

.who-i-am-text{
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 30px;
} /* End Who I am section */

