/* Stylesheet for box-model-1 */

/* TASA Explorer font imported from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');

*{
    box-sizing: border-box;
    font-family: "TASA Explorer", sans-serif;
}

#box_1{
    width: 450px;
    height: 280px;
    background-color: pink;
    /* margin: top right bottom left */
    margin: 25px 0 20px 50px;
}

#box2{
    width: 350px;
    height: 230px;
    text-align: center;
    background-color: aqua;
    margin: 0 0 0 40px;
}