/* Stylesheet for "menu stop and code" project */
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    margin:0;
}

h1{
    color: #ffffff;
    background-color: #e8514e; /* orange color */
    text-align: center;
    margin: 0;
    padding: 15px;
}

main{
    margin: 40px 300px 90px;

}

article{
    margin-top: 60px;
    padding: 0 30px;
    color: #323232; /* grey, carbon (similar) color*/
}

#banner img{
    max-width: 100%;
    height: auto;
}

article h2{
    font-size: 30px;
}

article p{
    text-align: justify;
    line-height: 2.0;
    font-size: 18px;
}

footer{
    color: #ffffff;
    background-color: #323232; /* grey, carbon (similar) color*/
    /* font-size: small; */
    text-align: center;
    padding: 2px 0;
}