/* Stylesheet for "menu stop and code" project */
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

h1{
    color: #ffffff;
    background-color: #e8514e; /* orange color */
    text-align: center;
    margin: 0;
    padding: 15px;
}

main{
    margin: 40px 300px 90px;
}

nav{
    background-color: #f7d100;
}

/* First level of the dropdown menu */
nav ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a{
    text-decoration: none;
}


nav ul li{
    flex: 1;/* width: 20%; */
    position: relative;
    text-transform: uppercase;
    text-align: center;
    
}

nav ul li a{
    width: 100%;
    display: block;
    color: #2d57a4;
    padding: 10px 0;
}

nav ul li:hover{
    background-color: #2d57a4; /* blue color for hover effect */    
}

nav ul li:hover a{
    color: #ffffff;
}

/* Second level of the dropdown menu */
nav ul ul{
    display: none;
    position: absolute;
    top: 100%;
    background-color: #5071af;
}

/* hover effect on second level ul*/
nav ul li:hover ul{
    display: block;
}


nav ul li li{
    font-size: 14px;
    text-transform: none;
    text-align: left;
    padding: 0 10px;
}

nav ul li li:hover{
    background-color: #2d57a4; /* blue color for hover effect */
}

#banner img{
    max-width: 100%;
    height: auto;
}

article{
    margin-top: 60px;
    padding: 0 30px;
    color: #323232; /* grey, carbon (similar) color*/
}

article h2{
    font-size: 30px;
}

article p{
    text-align: justify;
    line-height: 2.0;
    font-size: 18px;
}

footer{
    color: #ffffff;
    background-color: #323232; /* grey, carbon (similar) color*/
    /* font-size: small; */
    text-align: center;
    padding: 2px 0;
}