/* Stylesheet for "menu stop and code" project */
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    margin:0;
}

h1{
    color: #ffffff;
    background-color: #e8514e; /* orange color */
    text-align: center;
    margin: 0 0 30px 0;
    padding: 15px;
}

footer{
    color: #ffffff;
    background-color: #242424; /* grey color*/
    text-align: center;
    padding: 2px 0;
}